# Python
__pycache__/
*.pyc

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Large data and caches
data/
artifacts/cache/

# Optional local tools
tools/

# Notebook checkpoints
.ipynb_checkpoints/

# Report.pdf
report/main.pdf